[submodule "cJSON"]
	path = cJSON
	url = https://github.com/DaveGamble/cJSON
[submodule "scetool"]
	path = scetool
	url = https://github.com/LittleBigRefresh/scetool
[submodule "tre"]
	path = tre
	url = https://github.com/Beyley/tre
